# tensorflow>=2.0.0-rc1 OR tensorflow-gpu>=2.0.0-rc1
bokeh
umap
seaborn
parametrized
colorama
tqdm
IPython
matplotlib
joblib
click
numpy
Pillow
natsort
ffmpeg
librosa
soundfile
pytest
pydot
pydotplus
graphviz